{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static "homepage/style.css" %}" rel="stylesheet">
 <link href="{% static "homepage/styleregister.css" %}" rel="stylesheet">
<style></style>
</head>
<body  id="myPage"  data-spy="scroll" data-target=".navbar" data-offset="60">
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a  href="/News">News</a>
  <a  href="/RegisterUser">Register</a>
  <a href="/Contact">Contact Us</a>
  <a id= "about" href="/About_us">About Us</a>
 </div>
 <div style="padding-right: 18px"></div>

<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <div class="sign-in-htm">
                 {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
             <form class="form-horizontal" role="form" action="{% url 'material'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                <div class="group">
                    <label  for="id_username" class="label">Username</label>
                    <input id="id_username" name="username" type="text" class="input">
                </div>

                <div class="group">
                    <label for="id_password" class="label">Password</label>
                    <input id="id_password" type="password" name="password" class="input" data-type="password">
                </div>

                <div class="group">
                    <input id="check" type="checkbox" class="check" checked>
                    <label for="check"><span class="icon"></span> Keep me Signed in</label>
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign In">
                </div>


                <div class="hr"></div>
                <div class="foot-lnk">
                    <a href="#forgot">Forgot Password?</a>
                </div>
                  </form>
            </div>
            <div class="sign-up-htm">
                {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                 {% csrf_token %}

                <div class="group">
                    <label for="user" class="label">Username</label>
                    <input id="user" type="text" class="input">
                </div>
                <div class="group">
                    <label for="pass" class="label">Password</label>
                    <input id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="pass" class="label">Repeat Password</label>
                    <input id="pass" type="password" class="input" data-type="password">
                </div>
                <div class="group">
                    <label for="pass" class="label">Email Address</label>
                    <input id="pass" type="text" class="input">
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Sign Up">
                </div>

                <div class="hr"></div>
                <div class="foot-lnk">
                    <label for="tab-1">Already Member?</label>
                </div>

            </form>
            </div>
        </div>
    </div>
</div>



</body>
</html>
